body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #d84126;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #f18c8c;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 222, 222, 0.3);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

.fa-whatsapp
{
    color: green;
}

.fa-facebook
{
    color: rgb(0, 183, 255);
}

.fa-instagram
{
    color: rgb(155, 15, 15)
}

.fa-envelope
{
    color: yellowgreen;
}